h1{
    text-align: center;
}

#food{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
#food img{
    height: 500px;
}

.myfav img{
    height: 200px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.all-fav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px 100px;
}

